.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body .container {
  margin-bottom: 60px;
  margin-top: 3rem;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "zain", sans-serif;
}

