body {
    font-family: "Gill Sans MT", sans-serif;
  }
  
  :root {
    --lavender: #cdb4db;
    --dark-pink: #ff1b63;
    --darker-blue: #0284f6;
    --lighter-blue: #a2d2ff;
    --button: #8ac8fb;
  }


