body {
  font-family: "Gill Sans MT", sans-serif;
}

:root {
  --green: #047076;
  --dark-pink: #E4B4B4;
  --darker: #1E3739;
  --lighter: #A2D6DD;
  --button: #E4B4B4;
}

.row {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.col {
  min-height: 5rem;
  max-width: 5rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  background-color: var(--lighter);
  font-size: 3rem;
  text-align: center;
  color: var(--darker);
}

.small-btn {
  display: flex;
  margin: 0.3rem;
  min-height: 3rem;
  min-width: 3rem;
  max-width: fit-content;
  border-radius: 0.2rem;
  background: var(--button);
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  font-size: x-large;
}

.big-btn {
  font-size: 1rem;
  min-width: 3rem;
  cursor: pointer;
}

.timer {
  min-width: 8rem;
  background-color: #E4B4B4;
}

.grid-sq {
  background-color: var(--green);
}

.grid {
  background-color: var(--darker);
}

.info { 
  margin: 1rem;
  color: var(--green);
  font-weight: bold;
}

#title {
  margin-top: 2rem;
  font-weight: bolder;
  color: var(--green);
}

.card {
  justify-content: center;
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
