body {
  font-family: "Gill Sans MT", sans-serif;
}

:root {
  --lavender: #cdb4db;
  --dark-pink: #ff1b63;
  --darker-blue: #0284f6;
  --lighter-blue: #a2d2ff;
  --button: #8ac8fb;
}

.row {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.col {
  min-height: 5rem;
  max-width: 5rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  background-color: var(--lighter-blue);
  font-size: 3rem;
  text-align: center;
  color: var(--darker-blue);
}

.small-btn {
  display: flex;
  margin: 0.3rem;
  min-height: 3rem;
  min-width: 3rem;
  max-width: fit-content;
  border-radius: 0.2rem;
  background: var(--button);
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  font-size: x-large;
}

.big-btn {
  font-size: 1rem;
  min-width: 3rem;
  cursor: pointer;
}

.timer {
  min-width: 8rem;
  background-color: rgb(255, 88, 127);
}

.grid-sq {
  background-color: var(--lavender);
}

.grid {
  background-color: var(--darker-blue);
}

.info { 
  margin: 1rem;
  color: var(--darker-blue);
  font-weight: bold;
}

#title {
  margin-top: 2rem;
  font-weight: bolder;
  color: var(--darker-blue);
}

.card {
  justify-content: center;
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
